<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Pika uses the camera to capture your onboarding photo.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Pika uses the microphone to record your onboarding voice sample.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pika saves your ID card image to your photo library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Pika uses speech recognition to highlight the text as you read.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BPdotsVertical.otf</string>
		<string>BPdotsVerticalBold.otf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>Telka-Extended-Black.otf</string>
		<string>Telka-Extended-Bold.otf</string>
		<string>Telka-Extended-Light.otf</string>
		<string>Telka-Extended-Medium.otf</string>
		<string>Telka-Extended-Regular.otf</string>
		<string>Telka-Extended-Super.otf</string>
		<string>Telka-Medium.otf</string>
		<string>Telka-Regular.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
